# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\AppServ\www\eOkulDevamTakip\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/1bf89737-9e7b-4e4a-8fb3-4250476f183f.xml
/dataSources.xml
/dataSources/1bf89737-9e7b-4e4a-8fb3-4250476f183f/storage_v2/_src_/schema/information_schema.FNRwLQ.meta
